/* RESET */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* TOP STRIP */
.top-strip {
    text-align: center;
    padding: 8px;
    background-color: #f3f3f3;
    font-size: 14px;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 60px;
}

.logo {
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: bold;
}

.nav-links a {
    margin: 0 12px;
    text-decoration: none;
    color: black;
}

/* SECTIONS */
.section {
    padding: 70px 60px;
}

/* HERO (VERSACE STYLE) */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 45%;
    transform: skewY(-1deg);
}

.hero-text h1 {
    font-size: 42px;
    transform: rotate(-0.5deg);
}

.hero-text p {
    line-height: 1.6;
    transition: transform 0.4s;
}

.hero-text p:hover {
    transform: scale(1.05);
}

/* HERO IMAGE */
.hero-image {
    width: 45%;
    height: 420px;
    background-image: url("../Gemini_Generated_Image_70vl3b70vl3b70vl.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

/* PRODUCT IMAGE */
.product-img {
    width: 300px;
    box-shadow: 5px 5px 15px gray;
    transition: transform 0.4s;
}

.product-img:hover {
    transform: scale(1.1);
}

/* TABLE */
table {
    width: 60%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

/* MEDIA */
video {
    width: 360px;
    box-shadow: 0 10px 20px gray;
}

audio {
    margin-top: 10px;
}

/* CENTER */
.center {
    text-align: center;
}

/* FOOTER */
.footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
